/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style  */

body{
    font-family: 'Poppins', sans-serif;
    background-color: white
}

main{
    align-items: center;
}

/* header  */

header h3{
    font-size: 24px;
    font-weight: 700;
    margin-left: 120px;
}

/* section-1 grid item */

.first-grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.first-grid-info{
    background-color: white;
    margin-top: 100px;
    margin-left: 120px;
    

}
.first-grid-title{

    font-size: 32px;
    font-weight: 700;
}
.first-grid-message{
    font-size: 16px;

}
.preebook-icon{
    background-color: #E02C6D;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 30px;
    width: 150px;
    padding: 10px 24px;
    margin-top: 48px;
    margin-left: 20px;

}

.first-grid-image{

    background-color: white;
    margin-top: 70px;
    margin-left: 133px;
    margin-right: 165px;
}

.first-grid-image img{
    transition: transform 2s ease;
}

.first-grid-image:hover img{
    transform: scale(1.3);
}

/* second grid style  */

.second-grid-container{
    
    width: 1047px;
    height: 1880px; 
    margin-top: 235px;
    margin-left: 227px;
    margin-bottom: 100px;

}

.second-grid-header{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    column-gap: 30px;
    align-items: center;

}

.collection{

    background-color: tomato;
    padding-top: 15px;
    border-radius: 5px;
    padding-left: 15px;
    
}

.collection img{
    width: 300px;
    height: 256px;
   
    
}

.collection .collection-detail h2{
    font-size:28px ;
    font-weight: 500;
    color: #18191F;
}

.collection .collection-detail p{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

.collection .collection-detail .small-text{
    font-size: 14px;
    font-weight: 700;
}

.fa-star{
    font-size: 12px;
}

.fa-star.filled{
    color: #FFC014;

}

.fa-star.half-filled{
    color: linear-gradient(to right ,#FFC014, #FFFFFF);

}






