/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style  */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin: 0%;
}

main{
  
}

/* header  */

.top-header{
    font-size: 24px;
    font-weight: 700;
    margin-left: 227px;


}

/* section-1 grid item & 
make transtion in image */

.first-grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);


}

.first-grid-info{
    background-color: white;
    margin-top: 50px;
    margin-left: 227px;
    

}
.first-grid-title{

    font-size: 32px;
    font-weight: 700;
}
.first-grid-message{
    font-size: 16px;

}
.preebook-icon{
    background-color: #E02C6D;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 30px;
    width: 150px;
    padding: 10px 24px;
    margin-top: 48px;
    margin-left: 20px;

}

.first-grid-image{

    background-color: white;
    margin-top: 70px;
    margin-left: 134px;
    margin-right: 165px;
}

.first-grid-image img{
    transition: transform 2s ease;
}

.first-grid-image:hover img{
    transform: scale(1.3);
}

/* second grid style  */

.second-grid-container{
    
    width: 1047px;
    margin-top: 235px;
    margin-left: 227px;
    margin-bottom: 50px;
    
}

.second-grid-header{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    column-gap: 30px;
    align-items: center;

}

.collection{

    background-color: #FFFFFF;
    padding-top: 15px;
    border-radius: 5px;
    padding-left: 15px;
    box-shadow:0px 0px 40px rgba(0, 0, 0, 0.15);
    
}

.collection img{
    width: 300px;
    height: 256px;
   
    
}

.collection .collection-detail h2{
    font-size:28px ;
    font-weight: 500;
    color: #18191F;
}

.collection .collection-detail p{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

.collection .collection-detail .small-text{
    font-size: 14px;
    font-weight: 700;
}

.fa-star{
    font-size: 12px;
}

.fa-star.filled{
    color: #FFC014;

}

.fa-star-half-alt.half-filled{
    font-size: 12px;
    color:#FFC014;
    margin-right:8px ;
}

.buttom-icon{
    text-align: end;
    margin-top: 50px;    
}

.buttom-icon a{
    text-decoration: none; 
    color: #E02C6D;
}


/* Third section grid and transtion style
    after 1s change item box color and text   */

.third-section-container{
    width: 1047px;
    margin-left: 227px;
    background-color:#FFFFFF;
    box-shadow:0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 70px;
  
}

.third-section-header{
    font-size: 30px;
    font-weight: 600;
    text-align: center;    
}

.third-section-message{
    font-size: 16px;
    text-align: center;
}



.marketing-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    align-items: center; 
    justify-content: center;
}

.item{
    background-color: #E02C6D;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 10px;
    transition: color 1s ;

}

.item:hover{

    transform: rotate(2deg);
    background-color: black;
    color: rgba(218, 165, 32, 0.808);
    
    
}

.fa-globe-europe{
    font-size: 50px;
}
.fa-chart-pie{
    font-size: 50px;
}

.fa-list-alt{
    font-size: 50px;
}


/* footer section  */

.footer-body{
   
    background-color: #0A0826;
    width: auto;
    
}
.footer-items{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   padding-bottom: 30px;
}

.footer-title{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF; 
    margin-top: 50px; 
}

.footer-copyrights{
    text-align: center;
    color:#D9DBE1;
    margin-top: -10px;
}

.social-icon{
    
    display: flex;
    flex-direction: row;
    color: #FFFF;
    font-size: 20px;
    margin-top: 10px ;
    align-items: center;
    
    
}

.icon-bg{
    background-color: #7d76944f;
    width: 31px;
    height: 31px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 80%;
    margin-left: 30px;
}


/* Media queries  */

/* for Mobile  */

@media (max-width:576px){


    .first-grid-container{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        width: 100%;

    }

    .first-grid-image img{
        width: 250px;

    
    }


    .second-grid-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .collections{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 400px;
        height: 576px;
    
    }

    .third-section-container{

        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .marketing-items{
        display: grid;
        grid-template-columns: repeat(1,1fr);

    }

}



/* for tablet */

@media  only  screen  and (min-width:576px) and (max-width:768px){



    .first-grid-container{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center; 

    }




    .second-grid-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .collections{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 400px;
        height: 576px;
    
    }

}